{% extends 'base.html.twig' %}

{% block body2 %} 
    <div class="container">
        <div id="engagePresent">
            <h2>Nos Engagements</h2>
            <div>
                <h4>La Canette</h4>
                <div class="flex">
                    <div class="col-0">   
                        <div>
                            <p>Contrairement aux idées reçues, le verre, souvent plébiscité face au plastique, n’est pas la solution la plus écologique s’il ne provient pas du recyclage.</p>
                            <p>Des chercheurs de l’université de Southampton ont ainsi démontré que la canette en aluminium dépasse largement ses concurrents et qu’étonnamment, le plastique n’est pas si mal placé. D’après leur étude publiée en décembre 2020, pour des contenants pressurisés, l’aluminium est plus écologique que le plastique et encore plus que le verre.</p>
                        </div>                    
                        <div>
                            <p>Le mauvais score du verre s’explique notamment par l’énergie dépensée pour le produire. Des températures très élevées sont nécessaires, jusqu’à 1 500 degrés, contre environ 750 degrés pour l’aluminium.</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="{{ asset('img/canette_sauvage.png') }}" alt="">
                    </div>
                </div>
                <div>
                    <div class="flex col-0">
                        <h5>ELLES SONT 100% RECYCLABLES</h5>
                        <div>
                            <img class="pImg" src="{{ asset('img/recycle.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-80">
                        <div>
                            <p>Qu’elles soient faites d’acier ou d’aluminium, les canettes présentent en effet la particularité d’être intégralement valorisables.</p>
                            <p>Plus étonnant : elles le sont indéfiniment, puisque les divers traitements subis n’affectent jamais leurs qualités initiales. </p>
                        </div>
                        <div>
                            <p>Par ailleurs, le recyclage d’une canette permet d’économiser la majeure partie de l’énergie consommée pour la fabriquer, de l’extraction du minerai jusqu’au transport (une tonne d’aluminium recyclé permet ainsi d’éviter l’usage d’une tonne de pétrole brut). </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex col-0">
                        <h5>ELLES PEUVENT DEVENIR DES VELOS</h5>
                        <div>
                            <img class="pImg" src="{{ asset('img/alurecyclage.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-80">
                        <div>
                            <p>Mais pas uniquement. Avions, aérosols, pièces automobiles, pièces de monnaie, appareils électroménagers, trottinettes : le recyclage des canettes usagées permet de fabriquer des centaines de produits différents. </p>
                            <p>Triés à la source, puis collectés par des entreprises spécialisées – comme Easyrecyclage – ces déchets sont ensuite séparés en deux flux.</p>
                        </div>
                        <div>
                            <p>Les canettes en aluminium d’une part, qui sont broyées, fondues et compactées en balles, et les canettes en acier d’autre part, qui sont expédiées vers des aciéries pour devenir des bobines, des barres ou des fils.</p> 
                            <p>Avant d’être réutilisées pour réintégrer votre quotidien sous une nouvelle forme !</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>                    
                <h4>Le Carton d'emballage</h4>
                <div class="col-0 flex">
                    <div class="col-80">
                        <div>
                            <p>Le carton est l’un des emballages écologiques qui a le moins d’impact sur l’environnement. En effet, sa fabrication ne nécessite pas de pétrole, contrairement à la production de plastique. </p>
                            <p>L’emballage plastique est encore massivement utilisé dans de nombreux secteurs et notamment pour les denrées alimentaires. Le carton est alors devenu une alternative pour les entreprises qui souhaitent utiliser des packagings écologiques.</p>
                        </div>
                        <div>
                            <p>En optimisant la quantité de matière utilisée lors de sa production, l’emballage en carton écologique permet de réduire son empreinte environnementale. Près de 90% d’eau en moins et 50% d’électricité en moins sont nécessaires pour la fabrication d’un packaging écologique en carton.</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="{{ asset('img/carton1.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-0">
                <div class="flex col-0">
                    <h4>Les Transporteurs</h4>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <div class="flex col-0">
                        <h5>Colis Privé</h5>
                        <div>
                            <img class="pImg" src="{{ asset('img/colis_prive.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-80">
                        <div>
                            <p>L’entreprise a signé des protocoles nationaux avec les constructeurs Nissan et Fiat qui disposent de VUL électriques (Véhicule Utilitaire Léger) et de GNV (Gaz Naturel pour Véhicule). </p>
                            <p>Les véhicules émettent moins de CO2, moins de Nox et de particules fines que les véhicules thermiques traditionnels.</p>
                        </div>
                        <div>
                            <p>Conformément à l’obligation d’Information CO2 de ses clients chargeurs Colis Privé mesure depuis 2016 les émissions de CO2 de ses livraisons.</p>
                        </div>
                    </div>            
                </div>
                <div>
                    <div class="flex col-0">
                        <h5>Mondial Relay</h5>
                        <div>
                            <img class="pImg" src="{{ asset('img/mondial_relay.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-80">
                        <div>
                            <p>Les transporteurs roulent au gaz naturel.</p>
                            <p>Un mode de livraison optimisé limitant les émissions de CO2 grâce à sa possibilité de livrer simultanément plusieurs dizaines de colis en un point.</p>
                        </div>
                        <div>
                            <p>Accueil de ruches, avec plus de 120 000 abeilles, maillon essentielles de la biodiversité.</p>
                        </div>
                    </div>              
                </div>
            </div>
            <div>
                <h4>Le Houblon</h4>
                <div class="flex">
                    <div class="col-2">
                        <div>          
                            <p>Une houblonnière bio d’un hectare, produit à Allaire (Morbihan), production française, 100% bio et sans additifs.</p>
                        </div>
                        <div>
                            <p>La récolte du houblon et le tri sont effectués manuellement puis les cônes sont séchés à basse température par déshydratation pour préserver au maximum les arômes.</p>
                        </div>
                        <div>
                            <p>le conditionnement est fait en sachet sous-vide de 100g, ils sont stockés au froid (-18°C) dans l’attente de leur expédition.</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img class="pImg2" src="{{ asset('img/houblon1.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
