{% extends 'base.html.twig' %}

{% block body2 %} 
    <div class="container">
        <div id="brasseriePresent">
            <h2>La Brasserie</h2>
            <div class="flex">
                <div class="col-40">
                    <img src="{{ asset('img/houblon.jpg') }}" alt="">
                    <img src="{{ asset('img/cuve2.jpg') }}" alt="">
                    <img src="{{ asset('img/cuve.jpg') }}" alt="">
                    <img src="{{ asset('img/enpattement.jpg') }}" alt="">
                    <img src="{{ asset('img/degustation.jpg') }}" alt="">
                    <img src="{{ asset('img/canettes.png') }}" alt="">
                </div>
                <div class="col-60">
                    <h4>Prémices</h4>
                    <div>
                        <p>Lucie et Maxime se sont tout deux formés au Canada, grand pays de la bière artisanale !</p>
                        <p>Max était géologue « chercheur d’or » et Lucie travaillait à Montréal dans l’évènementiel.</p>
                        <p>A compter de 2017, en recherche de nouvelles valeurs leur correspondant, Maxime commence une formation de brasseur et travaille quelques années dans des brasseries canadiennes où peu à peu est née l’envie de créer leur propre bière. </p>
                        <p>Ils ramènent donc dans leurs bagages toute l'inspiration de ce pays, de la craft, mais aussi une motivation et une envie de créer.</p>
                    </div>
                    <h4>Projet</h4>
                    <div>
                        <p>Nous le savons tous : « Les Rennais savent faire de la bonne bière! »</p>
                        <p>Les deux Bretons, grands amateurs de bières, sont alors revenus en France pour s’installer à Rennes en mars 2020 et leur projet a mûri.</p>                
                        <p>Le couple voulaient ouvrir une jeune brasserie pour occuper une partie de la scène brassicole craft bretonne grâce à une qualité de bières et surtout, leur envie de sortir des sentiers battus !</p>
                        <p>Pour porter à bien leur projet, Lucie et Maxime ont lancé une campagne de financement participatif via <a href="https://www.kisskissbankbank.com/fr/projects/brasserie-sauvage/tabs/description">KissKissBankBank</a>, qui leur a permis de récolter plus de 14 000 euros (sur un objectif de 6000 euros).</p>      
                    </div>
                    <h4>Installation</h4>
                    <div>
                        <p>Voulant s'affranchir de toute contrainte et ayant une envie folle de brasser, ils installent leur local à Saint-Jacques-de-la-Lande près de Rennes en juin 2021.</p>
                        <p>Dans leur entrepôt de 230 mètres carrés, deux cuves de brassage, achetées à Skummen en mai 2021, attendent patiemment l’arrivée des premiers pellets de houblon.</p>
                        <p>La première production débute 1 mois plus tard</p>
                        <p>Quatre fermenteurs viennent compléter l’outil de production.</p>
                        <p>L'objectif est de pouvoir proposer quatre bières différentes, permanentes, en même temps, et d’en sortir une nouvelle tous les mois.</p>    
                    </div>
                    <h4>Bières aux saveurs étonnantes locale et bio</h4>
                    <div>
                        <p>Les deux brasseurs, inspirés des micro-brasseries nord-américaines laissent parler leur imagination dans la création des saveurs, d’où le nom de leur brasserie, « totalement libre ».</p>
                        <p>Le jeune couple de 31 ans, propose des bières très houblonnées, acides et fruitées, produites à partir d’ingrédients locaux et bio.</p>
                        <p>Si la plupart des houblons viennent de Bretagne, il y aura également des ingrédients venant des Etats-Unis que l'on ne trouve pas en France.</p>  
                        <p>Fruits, aromates, piment, et assemblages vieillis en barrique, complétent des recettes de fermentation qui donne une saveur extraordinaire à la première degustation.</p>
                        <p>Une acquisition de fûts en chêne (ayant servi au rhum, gin ou vin) pourra faire vieillir les bières et offrir un goût unique. </p>
                    </div>
                    <h4>La canette</h4>
                    <div>
                        <p>L'originalité de la Sauvage, et un contenant uniquement en canettes, de 44 et 33 cl.</p>
                        <p>Ce conditionnement permet une meilleure conservation des saveurs houblonnées, acides et fruitées, en évitant l’oxydation. </p>
                        <p>C’est un concept qui commence à se faire une place en France. </p>
                        <p>En Amérique du Nord, format craft par excellence, la majeure partie des bières de micro-brasseries est vendue sous cette forme.</p>
                        <p>D'abord en vente à l’entrepôt de Saint-Jacques, dans des caves, mais également en fûts dans les bars à Rennes elles sont maintenant disponible dans toute la France </p>    
                    </div>
                    <h5>N'hésitez pas à sauter le pas et permettez vous, vous aussi, de devenir <span>Sauvage</span> !</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}