<div class="pAbsolute right col-4">
    <div class="flex pRelative col-0 right3">        
    {% if app.user %}
        <div>
            <a href="{{ path('app_profil')}}">
                <button class="helloButton">Hello {{ app.user.pseudo ? app.user.pseudo : app.user.firstName }}</button>
            </a>
        </div>
    {% else %}
       <div class="flex pAbsolute col-2">
            <a href="{{ path('app_login')}}">
                <img class="homeImg login3" src="{{ asset('img/profil.png') }}" alt="" title="connexion">
                <button class="hiddenInput">Mon compte</button>
            </a>
        </div>
        <div class="flex pAbsolute col-2">
            <a href="{{ path('app_register')}}">
                <img class="homeImg register2" src="{{ asset('img/inscription.png') }}" alt="" title="Inscription">
                <button class="hiddenInput">Inscription</button>
            </a>
        </div>
    {% endif %}
    </div> 
    <div class="pAbsolute right col-80 flex zI5 column"> 
        <p class="padding">
            <a href="#">FR
                <img class="fr" src="{{ asset('img/fr.jpg') }}" alt="drapeau français">
            </a>
        </p>
        <p class="space">|</p>  
         <p> 
            <ul>
                <li class="uk">
                    <p class="padding">
                        <a href="#" class="lT zI4">EN 
                            <img class="fr" src="{{ asset('img/uk.jpg') }}" alt="drapeau royaume-uni">
                        </a>
                    </p> 
                    <ul id="hiddenEnglish" class="pAbsolute right vHidden">
                        <li class="uk">
                           <span>
                             <img class="cSoon" src="{{ asset('img/cSoon.jpg') }}" alt="Image arrive bientot">
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </p> 
    </div>
</div>