{% extends 'base.html.twig' %}

{% block body2 %}
    <div class="container">
        <div id="profilPresent">
            <h2>Détails commande n°{{com}}</h2>
            {% if app.user %}
            <a href="{{ path('app_profil_orders', {'id': id}) }}">
                <button class="sbutton3">Retour commande</button>
            </a>
            {% if shops is defined %}
            {% for shop in shops %}
            <div class="col-0 flex">
            {% if beers is defined %}
            {% for beer in beers %}
                {% for shopbe in shopbeer %}
                    {% if shopbe.shop.id == com %}
                        {% if shop.id == com %}
                            {% if beer.id == shopbe.beer.id %}
                            <div id="beer{{ beer.id }}" class="flex blocSP col-2">
                                <div class="col-4 text-center">
                                    <img src="{{ asset('img/' ~ beer.photo) }}" alt="">
                                </div>
                                <div class="sPresent col-70">
                                    <div class="text-left">
                                        <h4>{{ beer.name }}</h4>
                                        <h5>{{ beer.category.name }}</h5>
                                    </div>
                                    <div class="col-60">
                                        <div>
                                            <p><span>Prix unitaire:</span> {{ beer.price[2:] == '.00' ? beer.price[:1] : beer.price }}€</p>
                                            <p><span>Quantité achetée:</span> {{ shopbe.quantity }}</p>
                                            <p><span>Prix total:</span> {{ shopbe.priceQuantity }}€</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% endif %}
            </div>
            <div class="col-0 flex help-text">
            {% if shop.id == com %}
                <p class="col-2"><span>Statut de la commande:</span>{% if shop.orderStatus == 0 %}en cours de préparation{% elseif shop.orderStatus == 1 %}en préparation{% elseif shop.orderStatus == 2 %}en cours d'acheminement{% elseif shop.orderStatus == 3 %}livrée{% endif %}</p>    
                <p class="col-2"><span>Date de la commande :</span>{{ shop.orderDate|date('d/m/Y') }}</p>    
                <p class="col-2" style="order: 4"><span>Date de livraison prévue :</span>{{ shop.shippingDate|date('d/m/Y') }}</p>    
                <p class="col-2"><span>Montant total de la commande :</span>{{ shop.priceOrder }}€</p>
            {% endif %} 
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}