{% extends 'base.html.twig' %}

{% block body2 %}
    <div class="container">
        <div id="profilPresent">
            <h2>Profil</h2>
            {% if app.user %}
                <div>
                    <h3>Mes informations</h3>
                    <a href="{{ path('app_logout') }}">
                        <button class="sbutton3">Déconnexion</button>
                    </a>
                    <a href="{{ path('app_profil_orders', {'id' : app.user.id }) }}">
                        <button class="sbutton1">Voir mes commandes</button>
                    </a>
                    <a href="{{ path('app_profil_edituser', {'id' : app.user.id }) }}">
                        <button class="sbutton2">Modifier mes informations</button>
                    </a>
                    <div>
                        <p><span>Pseudo :</span>{{ app.user.pseudo }}</p>
                        <p><span>Nom :</span>{{ app.user.lastName }}</p>
                        <p><span>Prénom :</span>{{ app.user.firstName }}</p>
                        <p><span>E-mail :</span>{{ app.user.email }}</p>
                        <p><span>Mot de passe :</span>********</p>
                        <p><span>Adresse</span>{{ app.user.adress }}</p>
                        <p><span>Ville</span>{{ app.user.city }}</p>
                        <p><span>Code Postal</span>{{ app.user.postalCode }}</p>
                        <p><span>Téléphone</span> +33 {{ app.user.phone }}</p>
                        <p><span>Date d'anniversaire</span>{{ app.user.birthdayDate|date('d/m/Y') }}</p>
                    </div>
                </div>
                <h3>Mes bières favorites</h3>
                <div class="flex col-2 div100">
                {% for beer in beers %}
                    {% if beer in app.user.favoris %}
                    <div class="col-40 h0 mauto">
                        <img src="{{ asset('img/' ~ beer.photo) }}" alt="">
                    </div>
                    <div class="col-60 bPresent">
                        <div class="flex jcSpace">
                            <h4>{{ beer.name }}</h4>
                            <h5>{{ beer.category.name }}</h5>
                        </div>
                        <div class="flex jcSpace leftInfo">
                            <div>
                                <p><span>Alcool :</span> {{ beer.alcool[2:] == '.00' ? beer.alcool[:1] : beer.alcool  }}%</p>
                            </div>
                            <div>
                                <p><span>Couleur :</span> {{ beer.color }}</p>
                            </div>
                            <div>
                                <p><span>Prix :</span> {{ beer.price[2:] == '.00' ? beer.price[:1] : beer.price }}€</p>
                            </div>
                            <div>
                                <p><span>Volume :</span> {{ beer.volume[2:] == '.00' ? beer.volume[:2] : beer.volume }}cl</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
