<ul>
    <li class="menuOpen2">
        <img id="menuImg" class="zI5 pAbsolute vHidden" src="{{ asset('img/menu.png') }}" alt="">
        <div id="menu" class="pAbsolute zI6 col-0 hiddenMenu2">
            <ul class="flex jcSpace text-center">
                <li><a href="{{ path('app_home') }}?animation=non&arrow=down">Accueil</a></li>
                <li><a href="{{ path('app_brasserie') }}">La Brasserie</a></li>
                <li><a href="{{ path('app_beer') }}">Nos Bières</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('app_admin_beer') }}">Gestion bières</a></li>
                {% else %}
                <li class="pRelative menuOpen"><span id="actu"><a href="{{ path('app_home') }}?animation=non&id=#actuality">Actualités</a></span>
                    <ul class="hiddenMenu pAbsolute vHidden">
                        <li class="hoverStyle"><a href="{{ path('app_home') }}?animation=non&id=#tendances">Tendances</a></li>
                        <li class="hoverStyle"><a href="{{ path('app_home') }}?animation=non&id=#creations">Créations</a></li>
                        <li class="hoverStyle"><a href="{{ path('app_home') }}?animation=non&id=#projets">Projets</a></li>
                        <li class="hoverStyle"><a href="{{ path('app_home') }}?animation=non&id=#pressRessource">Press<span class="opaq">_</span>Ressource</a></li>
                        <li class="hoverStyle"><a href="{{ path('app_home') }}?animation=non&id=#gallerie">Gallerie</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('app_admin_order') }}">Gestion commandes</a></li>
                {% else %}
                    <li><a href="{{ path('app_engage') }}">Engagements</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="menuOpen"><a href="{{ path('app_shop') }}"></a></li>
                {% else %}
                    <li class="menuOpen"><a href="{{ path('app_shop') }}">Boutique</a></li>
                    <a href="{{ path('app_shop') }}">
                        <img id="panier" class="panier" src="{{ asset('img/pack.png') }}" alt="" title="commande en cours">
                    </a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="collect"><a href="{{ path('app_admin_contact') }}">Contacts reçus</a></li>
                {% else %}
                    <li class="collect"><a href="{{ path('app_contact') }}">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </li>
</ul>