<tr>
    <td class="col-80">
        <div class="text-center">
            <p>
                <span>Nom :</span> 
                    {{contacts ? contact.name : "" }}
            </p>
            <p>
                <span>Prénom :</span> 
                    {{contacts ? contact.firstName : "" }}
            </p>  
            <p>
                <span>E-mail :</span> 
                    <a target="blank" href="mailto:{{contact.email}}">{{contacts ? contact.email : "" }}</a>
            </p>
        </div>
        <p>
            <span>Sujet :</span>
                {{contacts ? contact.subject : "" }}
        </p>
        <p>
            <span>Message :</span>
            <p>{{ contacts ? contact.message : "" }}</p>
        </p>
    </td>